{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .site-heading {
        background-color: blue;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #green;
        background-color: lightgray;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Portfólio 123 </h3>
                    <p class="text-light"> exercício portfolio-django ebac &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="m-auto col-md-8 mt-3 left px-3">
            {% for post in post_list %}
            <div class="card mb-4 mt-4">
                <div class="card-body text-center ">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}